@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.btn{
    align-items: center;
    border: none;
}
.grid{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
}
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
    align-items: center;
    display: flex;
}
.container_top{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    text-decoration: none;
}
.header_item_link_logo{
    display: block;
    line-height: 0;
    font-size: 50px;
    font-weight: bold;
    color: #000;
}
.header_item_link_logo:hover{
    text-decoration: none;
    color: #000;
}
.header_item_link_logo span{
    color: red;
}
.menu_bar{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_item{
    position: relative;
    padding:  30px;
    cursor: pointer;
}
.header_item a:hover{
    text-decoration: none;
}
.header_item:first-child{
    padding: 0 30px 0 0;
}
.header_item:last-child{
    padding-right: 0;
}
.header_item:hover .header_subnav{
    display: block;
}
.header_navbar_item_link{
    color: #000;
    position: relative;
    font-size: 17px;
    font-weight: 700;
}
.header_navbar_item_link::after , .header_subnav_item_link::after{
    content: " ";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #ff5353;
    transition: width linear 0.4s;
}
.header_navbar_item_link:hover::after , .header_subnav_item_link:hover::after{
    width: 100%;
}
.header_navbar_item_link:hover, .header_subnav_item_link:hover{
    color: #ff5353;

}
.icon{
    display: flex;
    font-size: 20px;
    transition: 0.3s;
}
.cart ,.heart{
    position: relative;
}
.sl{
    position: absolute;
    top: -10px;
    font-size: 13px;
    background-color: #ff5353;
    border-radius: 100%;
    padding: 0 6px;
    color: #fff;
    text-align: center;
}
.header_subnav{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #fff;
    min-width: 250px;
    transition: 1s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    display: none;
}
.header_subnav_list{
    list-style-type: none;
    padding: 30px;
}
.header_subnav_item_link{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.cart_link{
    position: relative;
    padding: 20px 0;
}
.cart_link:hover .shopping_cart{
    display: block;
}
.shopping_cart{
    position: absolute;
    right: -30px;
    top: 50px;
    min-width: 400px;
    background-color: #fff;
    display: none;
    transition: 0.5s;
}
.table_cart_product_info_stt{
    font-size: 16px;
    align-items: center;
}
.table_cart_product_info{
    align-items: center;
    text-align: center;
    background-color: #ccc;
}
.table_cart_product_info_img img {
    width: 70%;
}
.table_cart_product_info_quantity {
    display: flex;
    align-items: center;
}
.table_cart_product_info_quantity span{
    font-size: 10px;
    margin-right: 5px;
    font-weight: 600;
}
.table_cart_product_info_quantity input{
    height: 20px;
    width: 30px;
    font-size: small;
    align-items: center;
    border: 1px solid #ff5353;
    padding-left: 5px;
    color: #ff5353  ;
    border-radius: 10%;
}

.table_cart_product_info_name{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}
.table_cart_product_header th{
    font-size: 15px;
    font-weight: 500;
}
.table_cart_product_info_action i{
    color: #ff5353  ;
    padding: 5px;
    border-radius: 20%;
    font-weight: 500;
}
.table_cart_product_info_action i:hover{
    color: #000;
}
.table_cart_product_info_action:last-child i{
    margin-left: -20px;
}
.cart_product_pay_now_btn{
    width: 100%;
}
.inactive{
    display: none;
    transition: 0.5s;
}
.message-addCart{
    margin-top: 30px;
    position: fixed;
    right: 0;
    top: 110px;
    z-index: 1;
}
.alert {
    padding: 20px;
    background-color: #a8f0c6;
    color: #000;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/** slide*/
.hero {
    height: 600px;
    position: relative;
    background-image: url(../images/banner2.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    margin-top: 60px;
    /* background-position: center; */
}
.slide-container{
    height: 100%;
    position: relative;

}
.slide{
    top: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 0;
    transition: 0.5s;
}
.slide.active {
    height: 100%;
}

.slide .slide-txt{
    text-align: center;
    margin-left: 30px;

}
.slide .slide-txt .slide-title{
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto';
}
.slide-description{
    font-size: 40px;
    font-weight: bold;
}
.slide .slide-img{
    width: 100%;
    padding-right: 60px;
    padding-top: 80px;
}
.slide .slide-img img{
    max-width:  100%;
    transform: rotate(-70deg);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.6s ease 0s;
}
.slide.active .slide-img img {
    transform: rotate(0);
    opacity: 1;
}
.slide .slide-btn a{
    background-color: #ff5353;
    width: auto;
    padding: 10px 42px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-decoration: none;
    transition: 0.5s;
}
.slide .slide-btn a:hover{
    background-color: #f0f2f1;
    color: #ff5353;
    font-weight: bold;
}
.slide-control {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.slide-control > li {
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
}

.slide-control > li.active {
    transform: scale(1.5);
    color: #ff5353;
}

.slide-control > li ~ li {
    margin-left: 30px;
}

.slide-control > li:hover {
    color: #ff5353;
}
.featured_product{
    margin-top: 130px;
    text-align: center;
    margin-bottom: 100px;
}
.featured_txt{
    margin-bottom: 80px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.cards {
    flex: 1 0 0%;
}

.featured_content .cards .card-body{
    background-color: #f0f2f1;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex-direction: column;
    background-clip: border-box;
    position: relative;
    height: 450px;
    width: 340px;
    padding: 0;
}

.featured_content .cards .card-body img{
    max-height: 450px;
}
.featured_content .cards .card-body .action{
    position: absolute;
    bottom: 30px;
    left: 25%;
    z-index: 1;
    opacity: 0;
    transition: transform ease-in-out 0.5s;
    transform: translateY(100%);
    cursor: default;


}
.featured_content .cards{
    transition: 0.5s;
}
.featured_content .cards:hover{
    margin-top: -12px;

}
.featured_content .cards .card-body:hover .action{
    opacity: 1;
    transform: translateY(0);

}
.featured_content .cards .card-body .action i{
    padding: 22px;
    background-color: #fff;
    text-align: center;
    /* padding: 15px; */
    border-radius: 50%;
    color: #ff5353;
}

.cards .card-body .action i:hover{
    background-color: #ff5353;
    color: #fff;
}
.info-product{
    margin-top: 30px;
}
.info-product .star i{
    color: #ff5353;
}
.sale_off{
    height: 400px;
    background-image: url(../images/15371.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    margin: 30px 0px;
    align-items: center;

}
.content_sale{
    display: flex;
    position: relative;

}
.content_sale .name_sale{
    position: absolute;
    left: 300px;
    top: 80px;
    text-align: center;

}

.name_sale .number_sale{
    font-family: 'Dancing Script' ;
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
}
.name_sale .name_pr{
    text-transform: uppercase;
    font-size: 30px;
    color: #4a4a4a;
    color: #fff;
}
.name_sale a{
    background-color: #ff5353;
    color: #fff;
    padding: 10px 32px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.5s;

}
.name_sale a:hover{
    text-decoration: none;
    background-color: #f0f2f1;
    color: #ff5353;
    font-weight: bold;
}
.content_sale .image_sale{
    position: absolute;
    right: 0;
}





.most_popular .most_popular_txt{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 80px;

}

/* Slider */
.most_popular .product-item{
    border: 1px solid rgb(219, 219, 219);
}
.most_popular .product-img{
    position: relative;
    overflow: hidden;
    max-height: 268px;
}




.most_popular .btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.most_popular .btns a{
    text-decoration: none;
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.most_popular .btns a:hover{
    color: #fcb941;
}
.most_popular .btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.most_popular .btns button:hover{
    color: #fcb941;
}
.most_popular .product-img:hover .btns{
    bottom: 0;
}

.most_popular .heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}
.most_popular .product-price-sale{
    font-size: 20px;
    color: #fcb941;
}
.most_popular .product-price{
    color: #ccc;
}
.most_popular .product-type{
    font-size: 13px;
    opacity: 0.8;
}
.most_popular .product-name{
    transition: all 0.3s ease-in-out;
}
.most_popular .product-name:hover{
    color: #fcb941!important;
}
.most_popular .rating{
    font-size: 13px;
}
.most_popular .product-item{
    width: 300px;

}

.most_popular .owl-carousel{
    z-index: 0 !important;
}







.carousel{
    height: 400px;
}

.commitment{
    display: flex;
    justify-items: space-between;
    margin: 80px 60px;
    text-align: center;
}
.commitment .card .card-body i{
    font-size: 50px;
    color: #ff5353;
}
.commitment .card .card-body .card-text{
    font-size: 15px;
    font-weight: bold;
    margin-top: 32px;
}
.commitment .card .card-body p:last-child{
    margin-top: -17px;
    color: #a8a8a8;
}
/* Trending product */

.trending_product .trending_product_txt{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;

}

.trending_product .pagination-sale a i{
    font-size: 23px;
    color: #ff5353;
    pointer-events: visible;
}
.trending_product .product-item{
    border: 1px solid rgb(219, 219, 219);
    margin: 20px;
    flex: auto;
}
.trending_product .product-img{
    position: relative;
    overflow: hidden;
    max-height: 268px;
}
.trending_product .btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.trending_product .btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.trending_product .btns button:hover{
    color: #fcb941;
}
.trending_product .btns a{
    border: none;
    text-decoration: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.trending_product .btns a:hover{
    color: #fcb941;
}
.trending_product .product-img:hover .btns{
    bottom: 0;
}

.trending_product .heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.trending_product .product-type{
    font-size: 13px;
    opacity: 0.8;
}
.trending_product .product-name{
    transition: all 0.3s ease-in-out;
}
.trending_product .product-name:hover{
    color: #fcb941!important;
}
.trending_product .product-price-sale{
    font-size: 20px;
    color: #fcb941;
}
.trending_product .product-price{
    color: #ccc;
}
.trending_product .rating{
    font-size: 13px;
}
.trending_product .product-item{
    width: 300px;
}




.silon_blog{
    margin-top: 150px;
}
.silon_blog .silon_blog_txt{
    text-align: center;
    margin-bottom: 89px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.silon_blog_content .cards{

}
.silon_blog_content .cards hr{
    width: 340px;
}
.silon_blog_content .cards .card-body{

}
.silon_blog_content .cards .card-body img{
    max-height: 300px;
}
.silon_blog_content .cards .silon_blog_info{
    text-align: left;
    margin-left: 20px;
    margin-top: 13px;
}
.silon_blog_content .cards .silon_blog_info .silon_blog_info_top  p:first-child{
    font-size: 13px;
}
.silon_blog_content .cards .silon_blog_info .silon_blog_info_top  p:last-child{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto';
}
.silon_blog_content .cards .silon_blog_info .silon_blog_info_top .info_time i{
    color: #ff5353;
    font-size: 16px;
    margin-right: 8px;
}
.silon_blog_content .cards .silon_blog_info .silon_blog_info_botton{
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    font-size: 14px;
}
.silon_blog_content .cards .silon_blog_info .silon_blog_info_botton p:hover{
    color: #ff5353;
}

/** home_review **/
.home_review .home_review_img{
    background: url(../images/banner_review.jpg) center / cover no-repeat;
    padding-top: 90px ;
    margin-top: 130px;
    text-align: center;
    min-height: 650px;
}
.home_review_img .home_review_info {
    margin-bottom: 30px;

}
.home_review_img .row{
    margin-right: 0px;
}
.home_review_img .home_review_info .home_review_info_heading{
    display: block;
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: 600;
    color: #fff;
}
.home_review_info .home_review_info_footer{
    display: block;
    margin: 30px auto;
    width: 40vw;
    font-size: 1rem;
    line-height: 2rem;
    color: #fff;
}
.home_review_list{
    /* overflow-x: auto; */
    display: flex;
    align-items: stretch;
    /* margin-right: 15px; */
}
.home_review_item{
    background-color: #fff;
    padding: 40px 35px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    width: 100%;
    min-height: 280px;
    align-items: flex-start;
    transition: 0.7s;
}
.home_review_item:hover{
    transform: scale(1.03);
}
.home_review_item_info{
    margin-left: 22px;
    text-align: left;
    cursor: default;
}
.home-review__item-location{
    text-decoration: none;
    font-size: 2rem;
    line-height: 2rem;
    color: #000000;
    font-weight: 600;
    transition: color linear 0.2s;
    -webkit-tap-highlight-color: transparent;
}
.home-review__item-location:hover{
    color: #ff5353;
    text-decoration: none;
}
.home_review_item_rating{
    margin: 12px 0 16px 0;
    font-size: 13px;
}
.home-review__item-rating--active{
    color: #ff5353;
}
.home_review_item_desc{
    font-size: 14px;
    line-height: 1.5rem;
    color: #505050;
}
.home_review_item_name{
    display: block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.home_review_footer{
    margin-top: 20px;

}
.dot{
    border: none;
    outline: none;
    height: 12px;
    width: 12px;
    background-color: #fab2b2;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}
.dot_active{
    background-color: #ff5353;
}



.follow_us{
    margin-top: 116px;
    margin-bottom: 170px;
    padding: 0 30px;
    position: relative;
}
.follow_us_item{
    display: flex;
    justify-content: center;
    transition: 0.7s
}
.follow_us_item:hover{
    transform: scale(1.03);

}
.follow_us a:before{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 83, 83, 0.7);
    height: 100%;
    width: 100%;
    transition: all 0.7s ease;
    visibility: hidden;
    opacity: 0;
}
.follow_us_item:hover::before{
    top: 0;
    opacity: 1;
    visibility: visible;
}
.follow_us_item{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 20%;
}
.follow_us_item  img{
    width: 262px;
    height: 250px;
    display: block;
}
.follow_us_item i {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.6s ease;
    opacity: 0;
    visibility: hidden;
}
.follow_us_item:hover i{
    opacity: 1;
    visibility: visible;
}
.follow_us_txt h3{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
}

.follow_us_txt{
    position: relative;
    margin-bottom: 80px;
}



/*Footer*/
.footer{
    background-color: #e9e2d8;
    padding: 100px 60px 20px;
}
.footer_item{
    margin: 0 20px;

}
.item_footer{
    margin-top: 10px;
}
.footer_item a.footer_item_logo{
    text-decoration: none;
}
.footer_item .footer_item_logo{
    color: #000;
    font-weight: bold;
    font-size: 100px;

}
.footer_item .footer_item_logo span{
    color: red;
}
.footer_item .footer_item_desc{
    display: block;
    margin-top: 12px;
    font-size: 16px;
    line-height: 40px;
    color: #a9a9a9;
}
.footer_item_info{
    list-style-type: none;
    margin-top: 16px;
}
.footer_item_info .footer_item_section{
    margin-top: 10px;
}
.footer_item_info .footer_item_section .footer_item_link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 16px;
    transition: 0.5s;
}
.footer_item_info .footer_item_section .footer_item_link:hover{
    color: #ff5353;
}
.footer_item .footer_item_header {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}
.footer_item_list {
    list-style-type: none;
}
.footer_item_list .footer_item_body{
    margin-top: 30px;
}
.footer_item_list .footer_item_body a{
    text-decoration: none;
    color: rgb(99, 91, 91);
    font-size: 15px;
    transition: 0.5s;
}
.footer_item_list .footer_item_body a:hover{
    color: #ff5353;
}
.footer_item_sub_desc{
    display: block;
    margin: 20px 0;
    font-size: 16px;
    line-height: 40px;
    color: #a9a9a9;
}

.footer_input{
    width: 100%;
    display: flex;
    background-color: rgba(88, 86, 86, 0.25);
    padding: 15px 20px;
    margin-top: 8px;
}

.footer_input i{
    min-width: 40px;
}
.form-controls{
    flex: 1;
    outline: none;
    background-color: transparent;
    border: none;
}

.footer_input_submit{
    background-color: #ff5353;
    cursor: pointer;
    transition: 0.5s;
}
.footer_input_submit .form-controls{
    font-weight: 600;
    color: #fff;
}
.footer_input_submit:hover {
    background-color: #fff;

}
.footer_input_submit:hover .form-controls{
    color: #000;
    font-weight: 600;
}
.widget{
    position: relative;
}
.widget-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.widget .app-btn {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d6d8d9;
    align-items: center;
}
.widget .app-btn a{
    flex-basis: 49%;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding-left: 35px;
    text-decoration: none;
}
.app-btn a:hover ,.app-btn a.app-store{
    background-color: #ff5353;
}

.app-btn .app-store p,.app-btn .app-store p span,.app-btn .app-store i {
    color: #fff;
}
.app-btn a:hover i, .app-btn a:hover p span , .app-btn a:hover p{
    color: #fff;
}

.app-btn a i{
    color: #ff5353;
    font-size: 20px;
    margin-right: 5px;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}
.app-btn a p{
    margin-bottom: 0;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: .8;
    text-transform: uppercase;

}
.app-btn a p span{
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: .8;
    margin-bottom: 5px;
}
.social-media a{
    display: inline-block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.social-media a:hover{
    color: #fff;
}
.widget-social .social-media a{
    background-color: #fff;
    text-align: center;
    line-height: 32px;
    width: 30px;
    height: 30px;
}
.widget-social .social-media a:hover{
    background-color: #ff5353;
}
/*End Footer*/


.button-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.btn-go-to-top {
    background-color: #fff;
    color: #ff5353;
    display: flex;
    box-shadow: 0 0 8px rgb(0 0 0 / 20%);
    transition: 0.4s;
    border-radius: 50%;

}
.btn-go-to-top:hover{
    text-decoration: none;
    color: #ff5353;
}
.btn-go-to-top i{
    padding: 15px;
    font-size: 1.4rem;
    margin: auto;
}

.alert-quantity{
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 60px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 10000;
}
.alert-quantity.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.alert-quantity.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert-quantity.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.alert-quantity .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}
.alert-quantity .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}
.alert-quantity .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}
.alert-quantity .close-btn:hover{
    background: #ffc766;
}
.alert-quantity .close-btn .fas{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

/*Header Thêm*/
.wrap-fill.wrap-fill-account {
    left: inherit;
    right: 0;
    transform: translateX(6%);
    z-index: 10;
    display: none;
}
.wrap-fill {
    position: absolute;
    text-align: left;
    top: 24px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 15px;
    font-size: 16px;
    min-width: 225px;
}
.wrap-fill.wrap-fill-account:before {
    left: inherit;
    right: 22px;
}

.icon .account:hover .wrap-fill-account{
    display: block;
    transition: 2s;
}

.icon .account:hover > i{
    color: #fdb45e;
}
.icon .cart:hover > i{
    color: #fdb45e;
}
.wrap-fill:before {
    width: 13px;
    height: 13px;
    border: 1px solid #e3e7ef;
    border-width: 0 1px 1px 0;
    content: "";
    position: absolute;
    top: 8px;
    left: calc(50% - 6px);
    background: #fff;
    transform: rotate(225deg);
    z-index: 1;
}
.list-action-logout {
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #fff;
    font-weight: 700;
    padding: 0;
}
.account a{
    color: #0e0e0e;
}
.list-action-logout li:hover {
    background-color: #f3f5f8;

}
.wrap-fill-account ul{
    list-style-type: none;
}
.list-action-logout li:hover h3 a{
    color: #ff5353;
    text-decoration: none;
}
.list-action-logout li {
    padding: 0.2rem 1.3rem;
    font-size: 16px;
}
.list-action-logout li h3 {
    font-size: inherit;
    font-weight: inherit;
}
.list-action-logout .block i{
    font-size: 23px;
    color: #ff5353;
    padding-right: 6px;
}
.list-action-logout a{
    text-decoration: none;
}



/* Search new by DUONG 4/3 */
.search{
    position: relative;
}
.search-input {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    transition: 0.5s;
    margin-right: 10px;
    overflow: hidden;

}
.icon-search{
    position: absolute;
    top: 3px;
    left: 0;
    padding: 0 10px;
}
.search-input.active{
    width: 460px;
    box-shadow: 0 0 0 1px #a8a8a8;
    border-radius: 60px;
}
.search-input .input {
    position: relative;
    width: 400px;
    height: 40px;
    left: 40px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 0;
}
.search-input .submit-search{
    background-color: #ff5353;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 140%;
    white-space: nowrap;
    margin-right: 5px;
    border-radius: 100px;
    max-height: 34px;
    padding: 15px 30px;
}
.search-input.active .submit-search{
    position: absolute;
    top: 50%;
    right: 0px;
    border: none;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search .t-popover__pane {
    display: none;
    margin-top: 5px;
    width: 100%;
    z-index: 100000;
    transition: 1s;
    right: 0;
    padding-top: 12px;
    position: absolute;
    right: 0;
    transform: translate3d(1,1,0);
    max-height: 400px;
    overflow: auto;
}

.t-popover__pane.active{
    display: block;

}
.shadow-2 {
    --tw-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.rounded-xl {
    border-radius: 0.75rem;
}
.section-product-option-item {
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    /* padding-top: 0.5rem; */
    margin-top: 7px;
    padding-bottom: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}
.item_results{
    flex-direction: column;
    flex: 1 1 0%;
    display: flex;
    margin-left: 16px;
}
.text-ui {
    font-size: 16px;
    line-height: 140%;
    color: #000;
}
.font-bold {
    font-weight: 700;
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.t-product-spec-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #000;
}
.search .text-label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 100%;
}
.search a:hover{
    text-decoration: none !important;
}
.search a{
    text-decoration: none !important;
}
.text-light-magenta {
    --tw-text-opacity: 1;
    color: rgba(254, 52, 100, var(--tw-text-opacity));
}
/* End Search NEW */